.todo-container {
  text-align: center;
  font-family: 'Arial,san-serios';
  width: 50%;
  height: max-content;
  margin-left: 25%;
  background-color: orange;
  font-weight: bold;
  border-radius: 10px;
}

h1 {
  font-size: 4rem ;
}

input {
  background-color: aliceblue;
  padding: 18px 60px;
  border-radius: 10px;
  font-size: 1rem;

}

.add {
  background-color: greenyellow;
  padding: 18px 40px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 15px;
}

ul {
  list-style: none;
  
}

li {
  margin: 20px;
  font-size: 1.5rem;
  background-color: rgb(101, 129, 112);
  border-radius: 10px;
  padding: 5px 5px;
  width: 600px;
}

span {
  background-color: rgb(101, 129, 112);
  margin: 20px;
  font-size: 2rem;
  color:rgb(7, 80, 8);
}

.delete-button {
  background-color: rgb(200, 0, 0);
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-style: none;
  margin-left: 15px;
  margin: 10px;
}

.moveUp {
  background-color: rgb(175, 205, 131);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 15px;
  border-style: none;
}

.moveDown {
  background-color: rgb(91, 4, 86);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-style: none;
  margin-left: 15px;
}
